.header {
  background-color: var(--color-dark-blue);
  @media (min-width: 768px) {
    padding: 10px;
    margin: 10px 20px;
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
  }
  .header-container {
    display: flex;
    @media (min-width: 768px) {
      min-height: 70vh;
    }
    .links {
      display: flex;
    }
  }
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 768px) {
      flex-direction: column;
    }
  }
  .links {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 576px) {
      width: 60%;
    }
    @media (min-width: 768px) {
      flex-direction: column;
    }
    .icons {
      display: flex;
      @media (min-width: 768px) {
        flex-direction: column;
      }
    }
    i {
      margin: auto 10px;
      font-size: 20px;
      color: var(--color-light-blue);
      cursor: pointer;
      @media (min-width: 576px) {
        margin: auto 15px;
      }
      @media (min-width: 768px) {
        margin: 15px auto;
      }
      &:hover,
      &:focus {
        color: var(--white-color);
      }
    }
  }
  img {
    height: 50px;
  }
}
