.header {
  background-color: var(--color-dark-blue);
  max-height: 94vh;
  @media (min-width: 768px) {
    padding: 10px;
    margin: 10px 20px;
    max-width: 50px;
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
  }
  @media (max-width: 768px) {
    padding: 10px;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 768px) {
      flex-direction: column;
      min-height: 94vh;
    }
  }
  .links {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 576px) {
      width: 65%;
    }
    @media (min-width: 768px) {
      flex-direction: column;
    }
    .site-logo {
      img {
        @media (min-width: 768px) {
          height: 75px;
        }
        @media (max-width: 768px) {
          height: 50px;
        }
      }
    }
    .icons {
      display: flex;
      @media (min-width: 768px) {
        flex-direction: column;
      }
      a {
        margin: auto 10px;
        font-size: 20px;
        color: var(--color-light-blue);
        cursor: pointer;
        text-decoration: none;
        @media (min-width: 576px) {
          margin: auto 15px;
        }
        @media (min-width: 768px) {
          margin: 15px auto;
        }
        &:hover,
        &:focus {
          color: var(--white-color);
        }
        &.active-link {
          color: var(--white-color);
        }
      }
    }
  }
  .user-img {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 50px;
    }
  }
}
