.trending {
  @media (min-width: 768) {
    margin-right: 100px;
    background-color: aqua;
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      background-color: var(--color-light-blue);
    }
  }
  .card-slider {
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
    margin-bottom: 10px;
    transition: 0.9s;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
    .card-image {
      position: relative;
      height: 150px;
      width: 320px;
      .img {
        border-radius: var(--main-border-radius);
        -webkit-border-radius: var(--main-border-radius);
        -moz-border-radius: var(--main-border-radius);
        -ms-border-radius: var(--main-border-radius);
        -o-border-radius: var(--main-border-radius);
        height: 100%;
        width: 100%;
      }
    }
    .card-content {
      display: none;
      transition: 0.9s;
      -webkit-transition: 0.9s;
      -moz-transition: 0.9s;
      -ms-transition: 0.9s;
      -o-transition: 0.9s;
    }
  }
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: var(--color-light-blue);
}
