:root {
  --color-gray: #6d6f7b;
  --color-white: #fcffff;
  --color-black: #10141f;
  --color-dark-blue: #161d2f;
  --color-light-blue: #586a8e;
  --main-border-radius: 25px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-black);
  color: var(--color-white);
  list-style: none;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%; /* Default width */
  /* max-width: 1400px; Maximum width */
  margin: 0 auto; /* Center the container horizontally */
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px; /* Adjusted width for smaller screens */
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
    max-width: 540px; /* Adjusted width for even smaller screens */
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  /* Media query for tablets */
  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Media query for mobile screens */
  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
