:root {
  --color-gray: #6d6f7b;
  --color-white: #fcffff;
  --color-black: #10141f;
  --color-dark-blue: #161d2f;
  --color-light-blue: #586a8e;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-black);
  color: var(--color-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%; /* Default width */
  max-width: 960px; /* Maximum width */
  margin: 0 auto; /* Center the container horizontally */
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px; /* Adjusted width for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px; /* Adjusted width for even smaller screens */
  }
}
